
@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Completed</h2>
<p>Order processed successfully! Your order number is: @Model</p>
<hr />
@Html.ActionLink("Continue Shopping", "Index", "Products")

